/* 
Palette
131515 (Night)
1D2020 (Eerie Black)
2A3135 (Gunmetal)
42484B (Outer space)
5C6062 (Dim Gray)
777A7D (Gray)
ACAEAF (Silver)
D9DBDB (Platinum)
000000 (White)
*/

body {
  font-family: Arial, sans-serif;
  background-color: #2A3135;
  color: #D9DBDB;
}

#info-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

#password-status, #password-status-locked {
  text-align: right;
}

#locked-text {
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  border-radius: 4px;
  background-color: #42484B;
  cursor: default;
}

#tokens {
  margin-top: .5em;
  text-align: right;
}

#content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  margin: 0 auto;
  margin-top: 8em;
  width: 100%;
  max-width: 600px;
}


#welcome {
  font-weight: normal;
  color: white;
}

#conversation {
  white-space: pre-wrap;
}

/* .message-command, #workaround { */
.message-command, #workaround {
  color: #D9DBDB;
  font-style: italic;
}

.message-user {
  color: #ACAEAF;
}

.message-model {
  color: white;
}

.role-user, .role-model {
  font-weight: bold;
}

#message-prompt {
  font-style: italic;
}

#command-prompt {
  margin-top: 0;
}

#message-input-wrapper {
  display: flex;
  flex-direction: column;
}

#command-input-wrapper {
  display: flex;
  flex-direction: column;
}

#message-input, #command-input {
  padding: 0.5em;
  font-size: 1em;
  background-color: #42484B;
  border: none;
  border-radius: 4px;
  resize: none;
  color: white;
  font-family: Arial, sans-serif
}

#message-input:focus {
  outline: none;
}

#message-submit {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1em;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #42484B;
  border-radius: 4px;
  color: #D9DBDB;
}

#message-submit:hover {
  background: #42484B
}

#message-submit:active {
  color: white;
}

#model-form {
  accent-color: #131515;
}

#settings-wrapper {
  border: 1px solid #42484B;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

#settings-title {
  text-align: center;
  margin-bottom: .5em;
}

.line {
  border-top: 1px solid #42484B;
  margin-top: 1em;
  margin-bottom: 1em;
}

#toggle-settings {
  background: transparent;
  border-radius: 2px;
  border: none;
  color: #D9DBDB;
  font-size: 1em;
  padding: 0;
}

input[type="radio"] {
  accent-color: #1D2020;
}

.disabled-text {
  color: #ACAEAF;
}
